{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        "corejs": 3.1,
        "useBuiltIns": "usage",
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "plugins": ["@babel/proposal-class-properties"]
}
